<div class="text-center">E-WALLTES</div>
<div class="row">
  <div class="column">
    <mat-card id="container">

      <mat-card-header class="text-center">

      </mat-card-header>
      <mat-card-content>
        <a href="https://www.amazon.com/" target="_blank"><img class="login-image" src="./assets/images/amazon.jpg"></a>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="column">
    <mat-card id="container">

      <mat-card-header class="text-center">

      </mat-card-header>
      <mat-card-content>
        <a href="https://in.bookmyshow.com/" target="_blank"><img class="login-image" src="./assets/images/bookMy.jpg"></a>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="column">
    <mat-card id="container">

      <mat-card-header class="text-center">

      </mat-card-header>
      <mat-card-content>
        <a href="https://www.flipkart.com/" target="_blank"><img class="login-image" src="./assets/images/amazon.jpg"></a>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="column">
    <mat-card id="container">

      <mat-card-header class="text-center">

      </mat-card-header>
      <mat-card-content>
        <a href="https://in.bookmyshow.com/"><img class="login-image" src="./assets/images/bookMy.jpg"></a>
      </mat-card-content>

    </mat-card>
  </div>
</div>
