<!-- <div fxLayout="row" fxLayoutAlign="start center"></div> -->
<mat-toolbar>
  <mat-toolbar-row>
    <div class="container" fxLayout="row" fxLayoutAlign="start center" fxFlex.xs="100%">
      <!-- <a href="/"> -->
      <img class="img-container" src="./assets/images/navbar_logo.jpg" alt="navbar logo" />
      <span class="nav-logo-content">UCI-FFLAPP</span>
      <!-- </a> -->
    </div>
    <div class="container" fxHide.lt-sm="true" fxLayout="row" fxLayoutAlign="start center" fxFlex.xs="100%">
      <!-- <a href="/"> -->

      <span class="nav-logo-content" style="font-size: x-small;font-style: italic">(Unified Customer Interface - Free
        Flow of Liquidity Accross Payment Provders)</span>
      <!-- </a> -->
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<!-- </div> -->