<h4 class="text-center"> WALLET TRANSFER</h4>
<mat-card id="bank-transfer">
  <form [formGroup]="walletForm" (ngSubmit)="onSubmit()">
    <h4>Transfer From</h4>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="fromWalletId">
        <mat-option *ngFor="let item of walletList" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Transfer To</h4>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select formControlName="toWalletId">
        <mat-option *ngFor="let item of walletList" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Amount: </h4>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="transfer amount" formControlName="amount">
    </mat-form-field>


    <button mat-raised-button color="warn">TRNASFER</button>
  </form>

</mat-card>
